<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.MemoraApp"
        tools:targetApi="31">
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".RegistroActivity"
            android:exported="true" />
        <activity
            android:name=".inicio_medico_activity"
            android:exported="true" />
        <activity
            android:name=".inicio_cuidador_activity"
            android:exported="true" />
        <activity
            android:name=".inicio_paciente_activity"
            android:exported="true" />
        <activity
            android:name=".InformacionpersonalActivity"
            android:exported="true" />

        <activity
            android:name=".Habitos_Activity"
            android:exported="true" />

        <activity
            android:name=".recuerdos.subida"
            android:exported="true" />

        <activity
            android:name=".recuerdos.VerRecuerdos"
            android:exported="true" />

        <activity
            android:name=".pruebas.ResultadosMMSEActivity"
            android:exported="true" />
        <activity
            android:name=".pruebas.ComprensionActivity"
            android:exported="true" />
        <activity
            android:name=".pruebas.ExplicacionComprensionActivity"
            android:exported="true" />
        <activity
            android:name=".pruebas.ExplicacionMemoriaActivity"
            android:exported="true" />
        <activity
            android:name=".pruebas.MemoriaActivity"
            android:exported="true" />
        <activity
            android:name=".pruebas.MMSEActivity"
            android:exported="true" />

        <activity
            android:name=".pruebas.mmseRegistro"
            android:exported="true" />
        <activity
            android:name=".pruebas.ResultadosMMSERgActivity"
            android:exported="true" />
        <activity
            android:name=".pruebas.ComprensionRgActivity"
            android:exported="true" />
        <activity
            android:name=".pruebas.ExplicacionComprensionRgActivity"
            android:exported="true" />
        <activity
            android:name=".pruebas.ExplicacionMemoriaRgActivity"
            android:exported="true" />
        <activity
            android:name=".pruebas.MemoriaRgActivity"
            android:exported="true" />
        <activity
            android:name=".configuracionmedico.DetallePruebaActivity"
            android:exported="true" />
        <activity
            android:name=".configuracionmedico.vertest"
            android:exported="true" />
        <activity
            android:name=".configuracionmedico.ListaPacientesActivity"
            android:exported="true" />
        <activity
            android:name=".pruebas.CDRSBActivity"
            android:exported="true" />
        <activity
            android:name=".pruebas.ResultadosCDRActivity"
            android:exported="true" />

        <activity
            android:name=".configuracionmedico.ListaPacienteCuidadorActivity"
            android:exported="true" />

        <activity
            android:name=".configuracionmedico.OpcionesPacienteActivity"
            android:exported="true" />

        <activity
            android:name=".configuracionmedico.ListaPruebasCDRActivity"
            android:exported="true" />

        <activity
            android:name=".configuracionmedico.OpcionesMedico"
            android:exported="true" />



        <activity
            android:name=".configuracionmedico.DetallePruebaCDRActivity"
            android:exported="true" />

        <activity
            android:name=".configuracionmedico.DetalleRespuestasCDRActivity"
            android:exported="true" />




        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />


    </application>

</manifest>